body {
	padding-top: 50px;
}

.navbar-inverse .navbar-brand {
	color: #ccc;
	font-size: 24px;
}

.navbar-inverse .navbar-brand:hover {
	color: #ddd;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
	color: #ccc;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	background-color: lightblue;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #efefef;
}

.annotation-instructions {
	margin-bottom: 15px;
	width: calc(100% - 60px);
	float: left;
}

.annotation-count {
	text-transform: uppercase;
	font-size: 0.8em;
	color: #666;
}

#toggle-annotations {
	width: 50px;
	height: 50px;
	float: right;
	background-image: url("../img/btn-view3.png");
	background-size: 100%;
	margin-bottom: 15px;
}

.jumbotron {
	padding: 20px;
}

.panel-user, .panel-votes {
	margin: 1rem;
}

.panel-user {
	float: left;
	margin-right: 2rem;
}

.panel-user > .user-icon {	
	border: 0.25rem #ccc solid;	 
	min-height: 5rem;
	width: 5rem;
	margin: 0 auto;
}

.panel-votes {
	float: right;
	margin-left: 2rem;
}

.panel-user > p.glyphicon, .panel-votes > a > p.glyphicon { 
	padding: 1rem;
	font-size: 2em;
	display: block;
}

.panel-user > .user-name {
	font-size: 1.0rem;
	margin: 0.5rem;
}

.panel-votes > a {
	color: #999;		
}
.panel-votes > a:hover {
	text-decoration: none;	
	color: #000;
}

.gloss-image p.caption, .gloss-image p.credit {
	font-size: 1.0em;	
	margin-top: 0.5em;
	display: inline-block;
}

.gloss-image p.caption {
	
}

.gloss-image p.credit {
	color: #ccc;
	display: inline;
}
.gloss-image p.credit a {
	color: #99e;
}

.navbar-inverse {
	background-color: #fff;
	border-color: #efefef;
}

.navbar-inverse .navbar-toggle {
	border-color: #ccc;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ccc;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #fff;
}


canvas.annotorious-item {
	-webkit-filter: blur(10px);
}
