body {
	padding-top: 50px;
}

.panel-icon {
	float: left;
	border: 0.25rem #ccc solid;		
	width: 5rem;
	height: 5rem;
	margin: 0rem 2rem 0rem 0rem;
}

.panel-icon > p.glyphicon {
	margin: 1rem auto 0rem auto; /* why isn't this working? */
	margin: 1rem 1rem 0rem 1rem;
	font-size: 2em;
}


.panel-votes {
	width: 50px;
	float: left; 	
}
