body {
	padding-top: 50px;
}

.navbar-inverse .navbar-brand {
	color: #ccc;
	font-size: 24px;
}

.navbar-inverse .navbar-brand:hover {
	color: #ddd;
}

.panel-icon, .panel-votes {
	margin: 1rem;
}

.panel-icon {
	float: left;
	border: 0.25rem #ccc solid;	 
	margin-right: 2rem;
}

.panel-votes {
	float: right;
	margin-left: 2rem;
}

.panel-icon > p.glyphicon, .panel-votes > a > p.glyphicon { 
	padding: 1rem;
	font-size: 2em;
	display: block;
	margin: 0;
}

.panel-votes > a {
	color: #999;		
}
.panel-votes > a:hover {
	text-decoration: none;	
	color: #000;
}

.gloss-image p.caption, .gloss-image p.credit {
	font-size: 1.0em;	
	margin-top: 0.5em;
	display: inline-block;
}

.gloss-image p.caption {
	
}

.gloss-image p.credit {
	color: #ccc;
	display: inline;
}
.gloss-image p.credit a {
	color: #99e;
}

.navbar-inverse {
	background-color: #fff;
	border-color: #efefef;
}

.navbar-inverse .navbar-toggle {
	border-color: #ccc;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ccc;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #fff;
}